.power-main{
    background-color: var(--main-container7);
    padding: 100px 0 416px;
    position: relative;
}

.power-bg{
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
}
.power-bg img{
    width: 100%;
    height: 100%;
}
.power-bg-mobile{
    display: none;
}

.power-cnt{
    position: relative;
    z-index: 2;
}
.power-cnt .fisrt-section-titles img {
    margin-bottom: -4px;
}
.power-cnt .fisrt-section-titles p {
    max-width: 606px;
    width: 100%;
}

.power-btn{
    margin-top: 32px;
    gap: 12px;
}
.power-btn .areas-btn {
    width: max-content;
}
.power-btn .btn-start i {
    font-size: 12px;
}
.power-btn .btn-login{
    display: flex;
    align-items: center;
    justify-content: center;
}
.slidy-speeds-min{
    margin-top: 40px;
    padding-bottom: 80px;
}
.slidy-speeds-min .section-titles p{
    max-width: 440px;
    width: 100%;
}


.slidy-speeds-rel{
    position: relative;
    margin-top: 40px;
    width: 100%;
}


.slidy-speeds-boxes{
    width: 100%;
}
.slidy-speeds-border{
    border-radius: 12px;
    position: relative;
    width: 100%;
    display: flex;
}
.slidy-speeds-border img{
    width: 100%;
}

.slidy-speeds-border span{
    position: absolute;
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
    color: var(--text-color);
}
.task-readiness {
    top: 106px;
    left: 73px;
}
.deadline-name{
    left: 73px;
    top: 186px;
}

.tit-slid{
    position: absolute;
    font-weight: 500;
    font-size: 36px;
    line-height: 100%;
    letter-spacing: -8%;
    text-align: center;
    color: var(--border2);
    top: 50px;
    width: 100%;
    left: 0;
    opacity: 0.20;
}

.slidy-speeds-ram{
    padding: 20px;
    background: var(--bg-color);
    border-radius: 12px;
    border: 1px dashed var(--border3);
    pointer-events: none;
    width: calc(100% - 40px);
    margin: -134px auto 0;
    z-index: 2;
    position: relative;


}
.slidy-speeds-ram h3{
    color: var(--text-color);
    font-weight: 600;
    font-size: 20px;
    line-height: 26px;
}
.slidy-speeds-ram p{
    color: var(--text-color);
    margin-top: 8px;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
}
.slidy-speeds-ram span{
    display: block;
    margin-top: 20px;
    font-weight: 600;
    font-size: 12px;
    line-height: 14px;
    color: var(--border2);
}
.slidy-pagination{
    display: none;
}



.slidy-turns-main{
    margin-top: 80px;
    padding-bottom: 100px;
}
.slidy-turns-flex{
    gap: 50px;
    position: relative;
}

.slidy-turns-circle {
    max-width: 274px;
    min-height: 274px;
    height: 274px;
    right: auto;
    left: 0;
    top: auto;
    bottom: 0;
}
.slidy-turns-circle .edits-circle-inside-line {
    max-width: 162px;
    min-height: 162px;
}
.slidy-turns-circle .edits-circle-arrow-icon {
    width: 72px;
    height: 72px;
    background: var(--accent-color);
}
.slidy-turns-circle .edits-circle-arrow-icon i {
    font-size: 24px;
}


.slidy-turns-title{
    max-width: 458px;
    width: 100%;
    gap: 12px;
}
.slidy-turns-title h2{
    text-align: left;
}
.slidy-turns-title p{
    text-align: left;
}


.slidy-turns-col{
    max-width: 575px;
    width: 100%;
    gap: 10px;
}

.slidy-turns-box{
    border: 1px solid var(--border);
    padding: 28px;
    border-radius: 12px;
}

.count-turns{
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    color: var(--border2);
}
.count-turns span{
    color: var(--border3);
}
.slidy-turns-box h3{
    margin-top: 48px;
}
.slidy-turns-box ul{
    margin-top: 16px;
    display: flex;
    flex-direction: column;
    gap: 8px;
}
.slidy-turns-box ul li{
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: var(--text-color);

}
.slidy-turns-wrap{
    margin-top: 24px;
    gap: 8px;
    max-width: 440px;
    width: 100%;
}

.slidy-turns-name{
    width: max-content;
    height: 36px;
    padding: 8px 16px;
    gap: 8px;
    border-radius: 100px;
    background: var(--bg-box-color);
}
.icon-astxik{
    background-color: var(--border3);
    width: 16px;
    height: 16px;
}
.slidy-turns-name p{
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: var(--main-container3);
}


.loss-quality{
    background: #161616;
    padding-bottom: 20px;
    padding-top: 40px;
    position: relative;
    margin-top: 80px;
}
.loss-quality-elips {
    width: 100%;
    position: absolute;
    top: -80px;
    left: 0;

}
.loss-quality-elips img{
    width: 100%;
}

.loss-quality .possibilities-big-item {
    border: unset;
}

.loss-quality .possibilities-item-bg img {
    object-fit: unset;
}


.loss-quality .possibilities-column{
    display: flex;
}
.possibilities-item-titles ul{
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin-top: 12px;
}
.possibilities-item-titles ul li{
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: var(--text-color3);
}

.compare-body .btn-start{
    margin-top: 28px;
}


.life-examples{
    position: relative;
    z-index: 3;
    padding-top: 40px;
    padding-bottom: 80px;
}
.life-examples .section-title {
    max-width: 500px;
    width: 100%;
}
.life-examples .hero-ellipse{
    bottom: auto;
    top: -100px;
}
.life-examples-rel{
    position: relative;
    margin-top: 40px;
}
.life-examples-box{
    gap: 10px;
    border-radius: 12px;
    width: 100%;
    border: 1px solid var(--border);
}
.life-examples-photo{
    width: 100%;
    max-width: 380px;
    position: relative;
}
.life-examples-photo>img{
    width: 100%;
    border-radius: 12px;
}
.life-examples-rez{
    padding: 20px;
    background: var(--bg-color);
    border-radius: 12px;
    border: 1px dashed var(--border3);
    position: absolute;
    left: 50%;
    max-width: 340px;
    width: 100%;
    bottom: -15px;
    transform: rotate(-6deg) translateX(-50%);
}
.life-examples-rez span {
    display: block;
    font-weight: 600;
    font-size: 12px;
    line-height: 14px;
    color: var(--border2);
}
.life-examples-rez ul{
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin-top: 12px;
}
.life-examples-rez ul li{
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: var(--text-color);
    display: flex;
    align-items: center;
    gap: 5px;
}
.life-examples-slider .swiper-wrapper{
    flex-direction: column;
    gap: 80px;
}
.life-examples-rel .examples-pagination{
    display: none;
}
.life-examples-slider .swiper-slide:nth-child(2) .life-examples-box{
    flex-direction: row-reverse;
}
.life-examples-slider .swiper-slide:nth-child(2) .life-examples-rez{
    transform: rotate(6deg) translateX(-50%);
    bottom: -39px;
}
.life-examples-slider{
    padding-bottom: 54px;
}
.life-examples-info{
    padding: 32px;
    max-width: 770px;
    width: 100%;
}
.life-examples-name h3{

    margin-bottom: 10px;
}
.style-h3{
    color: var(--text-color);
    font-weight: 600;
    font-size: 24px;
    line-height: 28px;
}
.life-examples-name p{
    color: var(--text-color);
}
.life-examples-start{
    margin-top: 32px;
    gap: 20px;
    justify-content: space-between;
    width: 100%;
}
.life-examples-text{
    max-width: 343px;
    width: 100%;
}
.life-examples-text span{
    display: block;
    font-weight: 600;
    font-size: 12px;
    line-height: 14px;
    color: var(--border2);
}
.life-examples-text ul{
    margin-top: 12px;
    display: flex;
    flex-direction: column;
    gap: 8px;
}
.life-examples-text ul li{
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: var(--text-color);
}
.life-examples-info .slidy-turns-wrap {
    margin-top: 32px;
}







.technologies-main{
    position: relative;
    width: 100%;
    padding: 80px 0 200px;
}
.technologies-main:before{
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background-image: url("../images/technologies.webp");
    background-size: cover;
    background-repeat: no-repeat;
    height: 80%;
}

.technologies-main .section-title{
    max-width: 550px;
    width: 100%;
}
.technologies-main .section-sub-title{
    max-width: 450px;
    width: 100%;
}
.technologies-rel{
    margin-top: 40px;
}

.technologies-box{
    border: 1px solid var(--border);
    padding: 24px;
    border-radius: 12px;
    background: var(--bg-color);
}
.technologies-logos{
    width: 106px;
}
.technologies-title{
    margin-top: 60px;
}

.technologies-title ul{
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin-top: 12px;
}
.technologies-title ul li{
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: var(--bg-box-color);
}

.technologies-photo{
    position: relative;
    margin-top: 28px;
    margin-bottom: -24px;
}
.technologies-photo img{
    width: 100%;
}
.technologies-text{
    position: absolute;
    bottom: 31px;
    left: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3px;
}
.technologies-text span{
    font-weight: 600;
    font-size: 16.27px;
    line-height: 18.98px;
    text-align: center;
    color: var(--text-color);

}
.technologies-text p{
    font-weight: 400;
    font-size: 10.84px;
    line-height: 14.91px;
    text-align: center;
    color: var(--text-color3);
}
.template-library-photo{
    width: 100%;
    margin-top: 32px;
}

.technologies-circle{
    position: relative;
    margin-top: 30px;
}
.technologies-circle .slidy-turns-circle{
    position: relative;
}




.faq-section{
    position: relative;
}
.faq-section .hero-ellipse{
    bottom: auto;
    top: -100px;
}


.power-faq .often-asks-item{
    min-height: 64px;
}






.calculate-much-min{
    margin-top: 80px;
    padding-top: 80px;
    padding-bottom: 100px;
}

.calculate-much{
    margin-top: 40px;
    gap: 10px;
}

.calculate-boxes{
    border: 1px solid var(--border);
    max-width: 575px;
    width: 100%;
    padding: 32px;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    gap: 26px;
}

.harc{
    background-color: var(--border3);
    width: 16px;
    height: 16px;
}

.per-month-box{
    width: 100%;
    padding-bottom: 26px;
    border-bottom: 1px solid var(--border);
    display: flex;
    flex-direction: column;
    gap: 14px;
}
.per-month-box:last-child{
    padding-bottom: 0;
    border-bottom: unset;
}
.per-month-box img{
    height: auto;
}
.per-month-center h4{
    font-weight: 600;
    font-size: 18px;
    line-height: 24px;
    color: var(--text-color);
    display: flex;
    align-items: center;
    gap: 6px;
}
.per-month-center .per-month-text{
    display: none;
}
.per-month-count{
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    text-align: center;
    background: var(--text-color);
    color: var(--main-container3);
    border-radius: 200px;
    padding: 6px 10px;
    min-width: 30px;
    height: 30px;
    margin-right: -6px;
    z-index: 2;
    position: relative;
}

.per-month-name{
    border: 1px solid var(--border);
    border-radius: 200px;
    width: max-content;
    padding: 6px 12px;
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    color: var(--text-color);
}

.per-month-text{
    gap: 8px;
}
.per-month-text p{
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    color: var(--border2);
}
.icon-harc{
    width: 20px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background: var(--main-container7);
}


.save-slidy{
    border: 1px solid var(--border);
    max-width: 575px;
    width: 100%;
    border-radius: 12px;
    padding: 32px;
    position: relative;
    background: var(--main-container6);
    display: flex;
    flex-direction: column;
    gap: 28px;
}
.saving-fir{
    width: max-content;
    height: 40px;
    padding: 8px 10px 8px 16px;
    gap: 7px;
    border-radius: 200px;
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    background: var(--text-color);
    color: var(--main-container3);
    position: absolute;
    right: 32px;
    top: -20px;
    display: flex;
    align-items: center;
    justify-content: center;
}


.save-slidy-box{
    padding-bottom: 26px;
    border-bottom: 1px solid var(--border);
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.save-slidy-numb{
    gap: 12px;
}
.save-slidy-numb strong{
    color: var(--text-color);
    font-weight: 500;
    font-size: 80px;
    line-height: 80px;
}
.save-slidy-numb span{
    color: var(--text-color);
    font-weight: 600;
    font-size: 40px;
    line-height: 100%;
    margin-bottom: 4px;
}

.save-slidy-data{
    gap: 12px;
}

.save-slidy-data span{
    color: var(--text-color);
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    display: flex;
    align-items: center;
    gap: 5px;
}
.save-slidy-data sub{
    width: 1px;
    height: 24px;
    display: block;
    background: var(--border2);

}
.save-slidy-data p{
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: var(--border2);

}

.save-slidy .power-btn {
    margin-top: 0;
}
.save-slidy  .areas-btn{
    width: 100%;
}


.linking-card{
    position: relative;
    padding-bottom: 260px;
    padding-top: 40px;
    background: #161616;
    margin-top: 80px;
}
.linking-card .trust-bg {
    z-index: 0;
}
.linking-card .section-big-title img{
    margin-bottom: -6px;
}
.linking-card .section-titles {
    position: relative;
    z-index: 3;
}
.linking-card-names{
    margin-top: 16px;
}
.linking-card-names ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.linking-card-names ul li{
    backdrop-filter: blur(20px);
    border: 1px solid #FFFFFF1A;
    background: #00000066;
    width: max-content;
    padding: 10px 16px 10px 12px;
    gap: 8px;
    border-radius: 100px;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    color: #FFFFFF;
    display: flex;
    align-items: center;
}










@media (max-width: 1199px){
    .power-main {
        padding: 100px 0 316px;
    }
    .slidy-speeds-rel {
        margin: 32px auto 0;
        max-width: 775px;
    }
    .slidy-pagination {
        display: flex;
        justify-content: center;
    }

    .swiper-pagination-bullet {
        background: #46455114;
        opacity: 1;
    }
    .swiper-pagination-bullet-active {
        background: #1252D3;
    }
    .slidy-turns-title {
        max-width: 380px;
    }
    .life-examples {
        padding-top: 20px;
    }

    .life-examples-info {
        padding: 20px;
    }
    .life-examples-info .slidy-turns-wrap {
        margin-top: 28px;
    }
    .icon-astxik {
        width: 14px;
        height: 14px;
    }
    .slidy-turns-name p {
        font-size: 14px;
        line-height: 18px;
    }

    .slidy-turns-wrap {
        gap: 6px;
    }
    .life-examples-start {
        margin-top: 28px;
        gap: 20px;
    }
    .style-h3 {
        font-size: 22px;
        line-height: 24px;
    }
    .life-examples-rez ul li {
        font-size: 14px;
        line-height: 18px;
    }
    .life-examples-rez ul {
        gap: 6px;
        margin-top: 10px;
    }
    .life-examples-rez {
        padding: 16px;
        max-width: 300px;
    }
    .life-examples-photo {
        max-width: 340px;
    }
    .life-examples-text ul li {
        font-size: 15px;
        line-height: 18px;
    }
    .slidy-turns-name {
        height: 34px;
        padding: 6px 14px;
        gap: 6px;
    }
    .technologies-main {
        padding: 60px 0 160px;
    }
    .technologies-box {
        padding: 20px;
        border-radius: 10px;
    }

    .technologies-title {
        margin-top: 48px;
    }
    .technologies-title ul li {
        font-size: 15px;
        line-height: 18px;
    }
    .technologies-photo {
        margin-bottom: -20px;
        margin-top: 22px;

    }
    .technologies-text p {
        font-size: 9.84px;
        line-height: 13.91px;
    }
    .technologies-rel {
        max-width: 770px;
        margin: 28px auto 0;
        width: 100%;
    }
    .technologies-logos {
        width: 96px;
    }
    .technologies-logos img{
        height: auto;
    }
    .technologies-rel .swiper-pagination-bullet {
        background: #FFFFFF;
    }
    .technologies-rel .swiper-pagination-bullet-active {
        background: #161616;
    }
    .power-faq .asks-item-header p {
        font-size: 16px;
        line-height: 20px;
    }
    .save-slidy-numb strong {
        font-size: 60px;
        line-height: 60px;
    }
    .save-slidy-numb span {
        font-size: 28px;
    }
    .save-slidy-numb {
        gap: 6px;
    }
    .save-slidy {
        padding: 20px;
    }
    .calculate-boxes {
        padding: 20px;
    }

    .save-slidy-data span {
        font-size: 16px;
        line-height: 20px;
    }
    .save-slidy-data {
        gap: 8px 12px;
        flex-wrap: wrap;
    }











}

@media (max-width: 1020px){
    .slidy-turns-flex {
        gap: 28px;
        flex-direction: column;
        align-items: center;
    }

    .slidy-turns-title {
        align-items: center;
    }

    .slidy-turns-title h2 {
        text-align: center;
    }
    .slidy-turns-title p {
        text-align: center;
    }
    .slidy-turns-circle {
        position: relative;
    }
    .slidy-turns-main {
        padding-bottom: 80px;
    }
    .life-examples-box {
        flex-direction: column;
        gap: 40px;
    }
    .life-examples-photo {
        max-width: 480px;
    }
    .life-examples-slider .swiper-slide:nth-child(2) .life-examples-box {
        flex-direction: column;
    }
    .life-examples-start {
        flex-direction: column;
    }
    .life-examples-slider .swiper-wrapper {
        flex-direction: unset;
        gap: 0;
    }

    .life-examples-box {
        flex-direction: column;
        gap: 40px;
        max-width: 478px;
        margin: 0 auto;
        height: 100%;
    }
    .life-examples-rel {
        margin-top: 28px;
    }

    .life-examples-rel .examples-pagination {
        display: flex;
    }
    .life-examples-slider {
        padding-bottom: 0;
    }
    .life-examples-slider .swiper-slide{
        height: auto;
    }
    .save-slidy-data sub {
        height: 20px;
    }
    .linking-card-names ul li {
        padding: 8px 14px 8px 10px;
        gap: 6px;
        font-size: 14px;
        line-height: 18px;
    }






}
@media (max-width: 767px){
    .slidy-speeds-boxes {
        max-width: 380px;
        margin: 0 auto;
    }
    .slidy-speeds-min {
        margin-top: 28px;
        padding-bottom: 60px;
    }

    .slidy-turns-main {
        margin-top: 60px;
    }
    .slidy-turns-box {
        padding: 20px;
        border-radius: 10px;
    }
    .loss-quality {
        padding-top: 20px;
        margin-top: 60px;
    }
    .technologies-box {
        max-width: 385px;
        margin: 0 auto;
    }
    .calculate-much {
        margin-top: 28px;
        flex-direction: column;
    }
    .saving-fir {
        height: auto;
        gap: 8px;
        font-size: 14px;
        line-height: 18px;
        right: 20px;
        top: 20px;
    }
    .linking-card {
        padding-bottom: 200px;
        padding-top: 30px;
        margin-top: 60px;
    }
    .linking-card-names ul {
        gap: 6px;
    }









    .life-examples-slider .swiper-slide:nth-child(2) .life-examples-rez {
        transform: rotate(-6deg) translateX(-50%);
        bottom: -9px;
    }
    .life-examples-slider .swiper-wrapper {
        align-items: flex-start;
    }
}

@media (max-width: 576px){
    .power-btn .btn-login {
        padding: 12px;
        font-size: 18px;
        line-height: 20px;
        height: 48px;
        width: 100%;
    }
    .power-btn {
        margin-top: 28px;
        gap: 12px;
        flex-direction: column;
        width: 100%;
        max-width: 332px;
    }

    .power-btn .areas-btn {
        width: 100%;
    }

    .power-cnt .fisrt-section-titles img {
        margin-bottom: -6px;
        width: 53px;
        height: auto;
    }
    .fisrt-section-titles h1 br{
        display: none;
    }
    .block-minut{
        display: block;
    }
    .power-bg-desc{
        display: none;
    }
    .power-bg-mobile{
        display: block;
    }
    .power-main {
        padding: 82px 0 375px;
    }

    .slidy-speeds-rel {
        margin: 28px auto 0;
    }
    .slidy-speeds-border span {
        font-size: 10.48px;
        line-height: 13px;
    }
    .task-readiness {
        left: 65px;
    }
    .deadline-name {
        left: 65px;
    }
    .slidy-speeds-ram {
        width: calc(100% - 30px);
    }
    .slidy-turns-box h3 {
        margin-top: 40px;
    }
    .style-h3 {
        font-size: 20px;
    }
    .count-turns {
        font-size: 14px;
        line-height: 18px;
    }
    .loss-quality .possibilities-big-item {
        border: unset;
        height: 368px;
    }
    .life-examples-photo>img {
        width: 100%;
        border-radius: 10px;
        height: auto;
    }
    .life-examples {
        padding-bottom: 60px;
    }
    .technologies-photo img {
        height: auto;
    }
    .template-library-photo {
        width: 100%;
        margin-top: 18px;
    }
    .template-library-photo img{
        height: auto;
    }
    .technologies-main {
        padding: 60px 0 73px;
    }
    .faq-section .hero-ellipse {
        bottom: auto;
        top: -100px;
        display: flex;
    }
    .faq-section .hero-ellipse img{
        height: 50px;
    }
    .faq-section {
        position: relative;
        margin-top: 70px;
    }
    .power-faq .often-asks-item {
        min-height: auto;
    }

    .saving-fir {
        gap: 6px;
        font-size: 12px;
        line-height: 14px;
        padding: 6px 8px 6px 14px;
    }
    .linking-card .section-big-title img {
        width: 53px;
        height: auto;
    }

    .linking-card-names ul li {
        padding: 6px 12px 6px 9px;
        gap: 6px;
        font-size: 12px;
        line-height: 14px;
    }
    .linking-card {
        padding-bottom: 200px;
        padding-top: 86px;
        margin-top: 20px;
    }
    .linking-card .trust-bg img {
        object-position: unset;
    }
    .loss-quality-elips img {
        width: 100%;
        object-position: top;
        height: 63px;
        object-fit: cover;
    }

    .loss-quality-elips {
        top: -55px;
    }
    .linking-card-names ul li:nth-child(4){
        order: 1;
    }
    .linking-card-names ul li:nth-child(1){
        order: 2;
    }
    .linking-card-names ul li:nth-child(3){
        order: 3;
    }
    .linking-card-names ul li:nth-child(2){
        order: 2;
    }

    .slidy-turns-name p {
        font-size: 13px;
        line-height: 16px;
    }
    .slidy-turns-name {
        padding: 6px 11px;
    }
    .life-examples-text ul li {
        font-size: 15px;
    }

    .per-month-center .per-month-text {
        display: flex;
    }
    .per-month-center{
        flex-direction: column;
        align-items: flex-start;
        gap: 10px;
    }
    .per-month-text{
        display: none;
    }
    .per-month-box{
        position: relative;
        padding-bottom: 66px;
    }
    .per-month-box:last-child {
        padding-bottom: 46px;
    }
    .per-month-cnt{
        position: absolute;
        bottom: 20px;
    }
    .per-month-box:last-child .per-month-cnt{
        bottom: 0;
    }
}